/.idea/
/node_modules/
/php/Cache/
/dist/
/pictures/coverSong/*.jpg
tsconfig.json
package-lock.json

/js/*.js
/js/games/audica/*.js
/js/games/audioTrip/*.js
/js/games/beatSaber/*.js
/js/games/synthRiders/*.js
/js/modules/*.js
/js/system/*.js