@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ====================
   = @font-face start =
   ==================== */
/*  Roboto
        -thin
        -light
        -regular
        -medium
    Walkway
    ElasticStretch
    Montserrat
*/
@font-face {
    font-family: "Roboto-thin";
    src: url("./fonts/roboto_thin.woff") format("woff");
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: "Roboto-light";
    src: url("./fonts/roboto_light.woff") format("woff");
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Roboto-regular";
    src: url("./fonts/roboto_regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Roboto-medium";
    src: url("./fonts/roboto_medium.woff") format("woff");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Walkway";
    src: url("./fonts/walkway_black.woff") format("woff");
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: "ElasticStretch";
    src: url("./fonts/elasticStretch.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
}

/* ==================
   = @font-face end =
   ==================*/

/* =====================
   = REUSED TAGS start =
   ===================== */
/* Corner tags */
.top-left {
    top: 0;
    left: 0;
}
.top-right {
    top: 0;
    right: 0;
}
.bottom-left {
    bottom: 0;
    left: 0;
}
.bottom-right {
    bottom: 0;
    right: 0;
}

/* difficulty color */
.Easy, .Beginner, .Débutant {
    background-color: #00a279 !important;
}
.Normal, .Regular, .Standard {
    background-color: #3498db !important;
}
.Hard, .Advanced, .Avancé {
    background-color: #da6300 !important;
}
.Expert {
    background-color: #de2d1b !important;
}
.ExpertPlus, .Cardio, .Master, .Hardcore {
    background-color: #6610f2 !important;
}

/* percentage letter color */
.ss {
    color: #18d7d7 !important;
}
.s {
    color: #a7a7a7 !important;
}
.a {
    color: #2fcb2f !important;
}
.b {
    color: #d9c80b !important;
}
.c {
    color: #ea7c0d !important;
}
.de {
    color: #e10404 !important;
}

/* Stop filter */
.stop, .disabled {
    filter: grayscale(100%);
}

/* FC/Miss */
.fcColor {
    color: gold !important;
}
.missColor {
    color: #d53535 !important;
    font-weight: bold;
}
.missGroup {
    display: none;
}

/* RoundedButton */
.roundedButton {
    width: 30px;
    height: 30px;

    display: inline-block;

    border-radius: 50%;
    background-color: #545454;

    line-height: 30px;
    text-align: center;
    text-decoration: none;

    color: white;
}
.roundedButton:hover {
    background-color: #6c6c6c;
}

/* Adofai colors */
#te, #tl, #death { color: #ed3e3e; }
#ve, #vl { color: #eb9a46; }
#ep, #lp, #retry { color: #e3e370; }
#pp, #checkpoint { color: #86e370; }
/* ===================
   = REUSED TAGS end =
   =================== */

/* ======================
   = GENERAL TAGS start =
   ====================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;

    position: fixed;
    overflow: hidden;
}

body:hover {
    background-color: rgba(59, 59, 59, 0.7);
}
/* ====================
   = GENERAL TAGS end =
   ==================== */