/* ===================
   = SONG TAGS start =
   =================== */
#songCard-overlay {
    width: 500px;
    padding: 10px 20px;

    position: absolute;

    background-color: rgba(0, 0, 0, 0.7);

    font-family: "ElasticStretch", Arial, "Helvetica Neue", "Helvetica", serif;
    color: white;
}
#songCard-overlay.top-left { border-bottom-right-radius: 50px; }
#songCard-overlay.top-right { border-bottom-left-radius: 50px; }
#songCard-overlay.bottom-left { border-top-right-radius: 50px; }
#songCard-overlay.bottom-right { border-top-left-radius: 50px; }
#songCard-overlay.top-left, #songCard-overlay.bottom-left { text-align: left; }
#songCard-overlay.top-right, #songCard-overlay.bottom-right { text-align: right; }

/* ==========================
   = SONG TAGS / Info start =
   ========================== */
#title {
    width: 100%;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2em;
}

#author {
    width: 100%;
    margin-bottom: 5px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.2em;
}

#infoGroup {
    width: 100%;
    margin-bottom: 5px;

    display: inline-flex;
    justify-content: flex-end;

    line-height: 2em;
}
#songCard-overlay.top-left #infoGroup, #songCard-overlay.bottom-left #infoGroup { flex-direction: row-reverse; }
#songCard-overlay.top-right #infoGroup, #songCard-overlay.bottom-right #infoGroup { flex-direction: row; }

#timeBarInfo {
    margin-top: 10px;
    display: inline-flex;
    flex-direction: row;
    position: absolute;
}
#timeToLetters, #totalTimeToLetters {
    font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 1.1em;
}
#timeToLetters:after { content: " /"; margin-right: 5px; }
#songCard-overlay.top-left #timeBarInfo, #songCard-overlay.bottom-left #timeBarInfo { right: 20px; }
#songCard-overlay.top-right #timeBarInfo, #songCard-overlay.bottom-right #timeBarInfo { left: 20px; }

#mapper {
    width: 50%;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.6em;
}
#songCard-overlay.top-left #mapper, #songCard-overlay.bottom-left #mapper { margin-left: 20px; text-align: left; }
#songCard-overlay.top-right #mapper, #songCard-overlay.bottom-right #mapper { margin-right: 20px; text-align: right; }

#difficulty {
    padding: 0 10px 0 10px;

    border-radius: 2px;

    font-size: 1em;

    background-color: #965a5a;
}
/* ========================
   = SONG TAGS / Info end =
   ======================== */

/* ==========================
   = SONG TAGS / Time start =
   ========================== */
#timeBarGroup {
    width: 100%;
    margin-bottom: 5px;

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;

    line-height: 2em;
}

#songBarLength {
    width: 100%;
    height: 10px;
    margin-top: -8px;

    border: 1px solid rgba(221, 221, 221, 0.459);
    border-radius: 1px;

    background-color: rgba(221, 221, 221, 0.459);

    overflow: hidden;
}

#timeToPercentage {
    background-color: rgba(221, 221, 221, 0.61);

    width: 0;
    height: 100%;

    display: block;
}
/* ========================
   = SONG TAGS / Time end =
   ======================== */

/* =================================
   = SONG TAGS / Performance start =
   ================================= */
#performanceGroup {
    width: 60%;

    display: inline-flex;
    justify-content: space-between;

    line-height: 2.5em;
}
#songCard-overlay.top-left #performanceGroup, #songCard-overlay.bottom-left #performanceGroup { flex-direction: row-reverse; }
#songCard-overlay.top-right #performanceGroup, #songCard-overlay.bottom-right #performanceGroup { flex-direction: row; }

#infoPerformanceGroup {
    display: inline-flex;
}
#songCard-overlay.top-left #infoPerformanceGroup, #songCard-overlay.bottom-left #infoPerformanceGroup { flex-direction: row-reverse; }
#songCard-overlay.top-right #infoPerformanceGroup, #songCard-overlay.bottom-right #infoPerformanceGroup { flex-direction: row; }

#bsrKey {
    font-family: "walkway", Arial, serif;
    font-size: 2em;
}

#songCard-overlay.top-left #miss, #songCard-overlay.bottom-left #miss { margin-left: 20px; font-size: 1.4em; }
#songCard-overlay.top-right #miss, #songCard-overlay.bottom-right #miss { margin-right: 20px; font-size: 1.4em; }

#accuracy, #score {
    width: 70px;

    font-size: 1.7em;
}
#accuracy:after { content: "%"; }

#score {
    display: none;
}
/* ===============================
   = SONG TAGS / Performance end =
   =============================== */

/* =============================
   = ANIMATION AND STATE Start =
   ============================= */
/* Song Card Variables */
#songCard-overlay {
    --show: 500ms;
    --hide: 500ms;
}

#songCard-overlay {
    transition:
            opacity var(--show);
}

#songCard-overlay.hidden {
    opacity: 0;
    transition:
            opacity var(--show);
}
/* ===========================
   = ANIMATION AND STATE end =
   =========================== */