#songCard-overlay {
    max-width: 650px;

    margin: 2% 2%;

    position: absolute;
    display: flex;
    flex-direction: column-reverse;

    font-family: "Montserrat", sans-serif;

    color: white;
}

#songCard-overlay.top-left,
#songCard-overlay.bottom-left {
    text-align: left;
}

#songCard-overlay.top-right,
#songCard-overlay.bottom-right {
    text-align: right;
}

#songCard-overlay.top-left,
#songCard-overlay.top-right {
    flex-direction: column-reverse;
}

#songCard-overlay.bottom-left,
#songCard-overlay.bottom-right {
    flex-direction: column;
}

#songCardGroup {
    display: flex
}
#songCard-overlay.top-left #songCardGroup {
    transform-origin: top left;
    flex-direction: column-reverse;
}
#songCard-overlay.top-right #songCardGroup {
    transform-origin: top right;
    flex-direction: column-reverse;
}
#songCard-overlay.bottom-left #songCardGroup {
    transform-origin: bottom left;
    flex-direction: column;
}
#songCard-overlay.bottom-right #songCardGroup {
    transform-origin: bottom right;
    flex-direction: column;
}

/* Beatmap */

#beatmap {
    display: flex;

    filter: drop-shadow(0 0 0.25rem black)
            drop-shadow(0 0 0.25rem black);
}

#songCard-overlay.top-left #beatmap,
#songCard-overlay.bottom-left #beatmap {
    flex-direction: row;
}

#songCard-overlay.top-right #beatmap,
#songCard-overlay.bottom-right #beatmap {
    flex-direction: row-reverse;
}

#cover {
    width: 90px;
    height: 90px;

    overflow: hidden;
    border-radius: 6px;
    position: relative;

    background-repeat: no-repeat;
    background-size: contain;
}

#meta {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    padding: 0 16px;
}

#songCard-overlay.top-left #meta,
#songCard-overlay.bottom-left #meta {
    align-items: flex-start;
}
#songCard-overlay.top-right #meta,
#songCard-overlay.bottom-right #meta {
    align-items: flex-end;
}

#text {
    flex-grow: 1;

    /* Fix text offset */
    transform: translate(0, -5px);
}

#titles {
    display: flex;
    align-items: flex-end;
}

#songCard-overlay.top-left #titles,
#songCard-overlay.bottom-left #titles {
    flex-direction: row;
}
#songCard-overlay.top-right #titles,
#songCard-overlay.bottom-right #titles {
    flex-direction: row-reverse;
}

#title {
    font-size: 24px;
    font-weight: 700;
}

#subTitle {
    font-size: 14px;
    font-weight: 600;
    margin: 0 4px 2px 4px;
}

#makers {
    display: flex;
    align-items: flex-end;
}

#songCard-overlay.top-left #makers,
#songCard-overlay.bottom-left #makers {
    flex-direction: row;
}
#songCard-overlay.top-right #makers,
#songCard-overlay.bottom-right #makers {
    flex-direction: row-reverse;
}

#author {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin: 2px 0 0 0;
}

#mapper {
    display: block;
    font-size: 16px;
    font-weight: 400;
}

#songCard-overlay.top-left #mapper,
#songCard-overlay.bottom-left #mapper {
    margin: 2px 0 0 10px;
}
#songCard-overlay.top-right #mapper,
#songCard-overlay.bottom-right #mapper {
    margin: 2px 10px 0 0;
}

#mapper:before {
    content: "[";
}
#mapper:after {
    content: "]";
}

#other {
    display: flex;
    line-height: 1em;
}

#songCard-overlay.top-left #other,
#songCard-overlay.bottom-left #other {
    flex-direction: row;
}
#songCard-overlay.top-right #other,
#songCard-overlay.bottom-right #other {
    flex-direction: row-reverse;
}

#difficulty, #bpm, #bsrKey {
    font-size: 0.7em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#difficulty {
    padding: 4px 5px 4px 8px;

    color: black;
    background: white;
    border-radius: 4px;
}

#bpm, #bsrKey {
    margin: 5px 8px;
}

#bpm:after {
    content: " BPM";
}

#bsrKey:before {
    content: "!bsr ";
}

#bsrKey {
    font-size: 0.7em;
}

#logoLeaderboard {
    background-image: url("../../../pictures/scoresaber_icon_32x32.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.logoLeaderboardSong {
    width: 20px;
    height: 20px;

    margin: 3px;
}

/* Progress */

#cover svg {
    transform: rotate(-90deg);
}

#cover div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90px;
    height: 90px;
}

#cover svg, #cover div {
    position: absolute;
    top: 0;
    left: 0;
}

#darken {
    fill: black;
    opacity: 0.5;
}

#remaining, #progress {
    fill: transparent;
    stroke: white;
    stroke-width: 4px;
}

#remaining {
    opacity: 0.25;
}

#progress {
    stroke-dasharray: 188.495px, 188.495px;
    stroke-dashoffset: 188.495px;
}

#timeToLetters {
    font-size: 16px;
    font-weight: 600;
}

/* Performance */

#performance {
    display: flex;
    margin: 0 0 20px 0;

    filter: drop-shadow(0 0 0.25rem black)
            drop-shadow(0 0 0.25rem black);
}

#songCard-overlay.top-left #performance,
#songCard-overlay.top-right #performance {
    flex-direction: column-reverse;
}

#songCard-overlay.bottom-left #performance,
#songCard-overlay.bottom-right #performance {
    flex-direction: column;
}

.performance-group {
    margin: 4px 0 0 0;
}

.performance-group .text {
    display: inline-block;

    font-size: 22px;
    font-weight: 600;
}

.performance-group .subtext {
    display: inline-block;

    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;

    opacity: 0.75;
}

#accuracy:after {
    content: "%";
}

#score {
    display: block;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 2px;
}

/* Animations and state */

#songCard-overlay {
    --show: cubic-bezier(0.19, 1, 0.22, 1) 300ms;
    --hide: cubic-bezier(0.55, 0.085, 0.68, 0.53) 200ms;
    --reduced-1: 350ms;
    --reduced-2: 250ms;
}

#songCard-overlay #songCardGroup {
    transition:
            transform var(--reduced-1);
}

#songCard-overlay.reduced #songCardGroup {
    transform: scale(0.5);
    transition:
            transform var(--reduced-2);
}

#songCard-overlay #beatmap, #songCard-overlay #performance > * {
    transition:
            opacity var(--show),
            transform var(--show);
}

#songCard-overlay.hidden #beatmap, #songCard-overlay.hidden #performance > * {
    opacity: 0;
    transform: translate(0, 15px);
    transition:
            opacity var(--hide),
            transform var(--hide);
}

#songCard-overlay #performance > *:nth-child(3) {
    transition-delay: 100ms !important;
}

#songCard-overlay #performance > *:nth-child(2) {
    transition-delay: 200ms !important;
}

#songCard-overlay #performance > *:nth-child(1) {
    transition-delay: 300ms !important;
}