/* =====================
   = REUSED TAGS start =
   ===================== */
.ion-android-checkmark-circle {
    color: gold;
}

.ion-android-cancel {
    color: #d53535;
    font-weight: bold;
}

.localPlayer {
    color: rgb(29, 224, 204);
    font-weight: bold;
}

.joined {
    animation: joinedColor 0.5s linear;
}

.leaved {
    animation: leavedColor 0.5s linear;
}

.first {
    color: gold !important;
}

.second {
    color: silver !important;
}

.third {
    color: rgba(218, 120, 60, 0.7) !important;
}

.miss {
    animation: missColor 0.2s linear;
}
/* ===================
   = REUSED TAGS end =
   =================== */

/* ==========================
   = LEADERBOARD TAGS start =
   ========================== */
#leaderboard-overlay {
    margin: 2% 2%;

    display: inline-flex;
    position: absolute;
}
#leaderboard-overlay.top-left, #leaderboard-overlay.top-right {
    flex-direction: column;
}
#leaderboard-overlay.bottom-left, #leaderboard-overlay.bottom-right {
    flex-direction: column-reverse;
}

/* =================================
   = LEADERBOARD TAGS / Rows start =
   ================================= */
#leaderboardTable tr {
    margin-bottom: 20px;

    display: inline-flex;
    flex-direction: column;
    clear: both;
    position: absolute;

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    filter: drop-shadow(0 0 0.25rem black)
            drop-shadow(0 0 0.25rem black);

    transition-duration: 0.5s;
}
#leaderboard-overlay.top-left #leaderboardTable tr, #leaderboard-overlay.bottom-left #leaderboardTable tr {
    left: 0;
}
#leaderboard-overlay.top-right #leaderboardTable tr, #leaderboard-overlay.bottom-right #leaderboardTable tr {
    right: 0;
}

.rowGroup {
    width: 170px;

    display: inline-block;
}
.rowPerformance {
    width: 110px;
    margin-top: 15px;

    float: right;
    display: inline-flex;
    flex-direction: column;
}

.UserName {
    width: 170px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    line-height: 35px;
    font-weight: bold;
}

.avatar, .innerAvatar {
    width: 50px;
    height: 50px;

    background-image: url("https://cdn.scoresaber.com/avatars/oculus.png");
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 50%;
}
.avatar {
    float: left;
}

.Accuracy {
    color: white;
}
.Accuracy, .fcMiss {
    width: 60px;
    font-size: 1.1em;
}
.Accuracy:after {
    content: "%";
}

#row-separator {
    width: 170px;

    line-height: 20px !important;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.separator {
    font-size: 1.5em;
}

.playerLocalName {
    display: inline-block;
    margin-top: 2px;
    margin-left: 10px;

    position: absolute;

    font-size: 0.5em !important;
    font-weight: bold;

    opacity: 0.85;
}
/* ===============================
   = LEADERBOARD TAGS / Rows end =
   =============================== */

/* ========================
   = ANIMATION TAGS start =
   ======================== */
#leaderboard-overlay {
    --show: 300ms;
    --hide: 300ms;
}

#leaderboard-overlay {
    transition:
            opacity var(--show);
}

#leaderboard-overlay.hidden  {
    opacity: 0;
    transition:
            opacity var(--hide);
}

@keyframes joinedColor {
    0% {
        filter: drop-shadow(0 0 0.25rem black)
                drop-shadow(0 0 0.25rem black);
    }

    50% {
        filter: drop-shadow(0 0 0.25rem rgb(66, 198, 238))
                drop-shadow(0 0 0.25rem rgb(66, 198, 238));
    }

    100% {
        filter: drop-shadow(0 0 0.25rem black)
                drop-shadow(0 0 0.25rem black);
    }
}

@keyframes leavedColor {
    0% {
        filter: drop-shadow(0 0 0.25rem black)
                drop-shadow(0 0 0.25rem black);
    }

    50% {
        opacity: 70%;
        filter: drop-shadow(0 0 0.25rem rgb(238, 82, 66))
                drop-shadow(0 0 0.25rem rgb(238, 82, 66));
    }

    100% {
        opacity: 0;
        filter: drop-shadow(0 0 0.25rem black)
                drop-shadow(0 0 0.25rem black);
    }
}

@keyframes missColor {
    0% {
        filter: drop-shadow(0 0 0.25rem black)
                drop-shadow(0 0 0.25rem black);
    }

    50% {
        filter: drop-shadow(0 0 0.25rem rgb(238, 82, 66))
                drop-shadow(0 0 0.25rem rgb(238, 82, 66));
    }

    100% {
        filter: drop-shadow(0 0 0.25rem black)
                drop-shadow(0 0 0.25rem black);
    }
}
/* ======================
   = ANIMATION TAGS end =
   ====================== */

/* ========================
   = LEADERBOARD TAGS end =
   ======================== */