/* ======================
   = PLAYER TAGS start =
   ====================== */
#playerCard-overlay {
    height: 160px;

    margin: 2% 2%;

    position: absolute;
    display: flex;
    justify-content: space-between;

    overflow: hidden;

    font-family: "Montserrat", Arial, serif;
    color: white;
}

#playerCard-overlay.top-left,
#playerCard-overlay.bottom-left {
    flex-direction: row;
}
#playerCard-overlay.top-right,
#playerCard-overlay.bottom-right {
    flex-direction: row-reverse;
}

#playerCardGroup {
    display: flex;
}
#playerCard-overlay.top-left #playerCardGroup,
#playerCard-overlay.bottom-left #playerCardGroup {
    flex-direction: row;
}
#playerCard-overlay.top-right #playerCardGroup,
#playerCard-overlay.bottom-right #playerCardGroup {
    flex-direction: row-reverse;
}
#playerCard-overlay.top-left #playerCardGroup {
    transform-origin: top left;
}
#playerCard-overlay.top-right #playerCardGroup {
    transform-origin: top right;
}
#playerCard-overlay.bottom-left #playerCardGroup {
    transform-origin: bottom left;
}
#playerCard-overlay.bottom-right #playerCardGroup {
    transform-origin: bottom right;
}

/* =============================
   = PLAYER TAGS/ Avatar start =
   ============================= */
#avatar {
    width: 140px;
    height: 140px;

    margin: 10px;

    border-radius: 5px;
    overflow: hidden;

    background-image: url("../../../pictures/default/notFound.jpg");
    background-repeat: no-repeat;
    background-size: contain;

    filter: drop-shadow(0 0 0.25rem black)
            drop-shadow(0 0 0.25rem black);

    z-index: 1;
}

#playerFlag {
    width: 30px;
    height: 30px;

    margin: 3% 5%;

    background-image: url("../../../pictures/country/FR.svg");
}
#playerCard-overlay.top-left #playerFlag,
#playerCard-overlay.bottom-left #playerFlag {
    transform-origin: right;
    float: right;
}
#playerCard-overlay.top-right #playerFlag,
#playerCard-overlay.bottom-right #playerFlag {
    transform-origin: left;
    float: left;
}

#logoLeaderboardPlayer {
    background-image: url("../../../pictures/scoresaber_icon_32x32.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.logoLeaderboardPlayer {
    width: 20px;
    height: 20px;
    bottom: 5px;

    position: absolute;
}
#playerCard-overlay.top-left .logoLeaderboardPlayer,
#playerCard-overlay.bottom-left .logoLeaderboardPlayer {
    margin-left: 115px;
}
#playerCard-overlay.top-right .logoLeaderboardPlayer,
#playerCard-overlay.bottom-right .logoLeaderboardPlayer {
    margin-left: 5px;
}
/* ===========================
   = PLAYER TAGS/ Avatar end =
   =========================== */

/* ===========================
   = PLAYER TAGS/ Info start =
   =========================== */
#playerData {
    height: 160px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-size: 1.2em;
    filter: drop-shadow(0 0 0.25rem black)
            drop-shadow(0 0 0.25rem black);
}

#playerCard-overlay.top-left #playerData,
#playerCard-overlay.bottom-left #playerData {
    margin-left: 10px;
    padding-right: 10px;

    text-align: left;
}

#playerCard-overlay.top-right #playerData,
#playerCard-overlay.bottom-right #playerData {
    margin-right: 10px;
    padding-left: 10px;

    text-align: right;
}

#playerCard-overlay.top-left #topWorld::before,
#playerCard-overlay.bottom-left #topWorld::before {
    content: "";

    width: 18px;
    height: 18px;

    margin-right: 10px;

    background-image: url("../../../pictures/World-icon.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;

    display: inline-block;
}

#playerCard-overlay.top-left #topCountry::before,
#playerCard-overlay.bottom-left #topCountry::before {
    content: "# ";

    font-family: Arial, sans-serif;
}

#playerCard-overlay.top-right #topWorld::after,
#playerCard-overlay.bottom-right #topWorld::after {
    content: "";

    width: 18px;
    height: 18px;

    margin-left: 10px;

    background-image: url("../../../pictures/World-icon.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;

    display: inline-block;
}

#playerCard-overlay.top-right #topCountry::after,
#playerCard-overlay.bottom-right #topCountry::after {
    content: " #";

    padding-left: 10px;

    font-family: Arial, sans-serif;
}

#performancePoint::after {
    content: " pp";
}
/* =========================
   = PLAYER TAGS/ Info end =
   ========================= */

/* =============================
   = ANIMATION AND STATE Start =
   ============================= */

/* Player Card Variables */
#playerCard-overlay {
    --show: 500ms;
    --hide: 500ms;
    --reduced-1: 350ms;
    --reduced-2: 250ms;
}

#playerCard-overlay.top-right, #playerCard-overlay.bottom-right {
    --transitionSide: 50px;
}

#playerCard-overlay.top-left, #playerCard-overlay.bottom-left {
    --transitionSide: -50px;
}

#playerCard-overlay #playerCardGroup {
    transition:
        transform var(--reduced-1);
}

#playerCard-overlay.reduced #playerCardGroup {
    transform: scale(0.5);
    transition:
        transform var(--reduced-2);
}

/* Avatar */
#playerCard-overlay #avatar  {
    transition:
        opacity var(--show);
}

#playerCard-overlay.hidden #avatar  {
    transition-delay: 500ms !important;
    opacity: 0;
    transition:
        opacity var(--hide);
}

/* Player Flag */
#playerCard-overlay.top-left #playerFlag, #playerCard-overlay.bottom-left #playerFlag {
    --marginBase: -5% -20% 0 0;
    --marginModify: 3% 5%;
    --rotateDegre: 45deg;
    animation: rotateCountry 20s ease infinite;
}

#playerCard-overlay.top-right #playerFlag, #playerCard-overlay.bottom-right #playerFlag {
    --marginBase: -5% 0 0 -18%;
    --marginModify: 3% 6%;
    --rotateDegre: -45deg;
    animation: rotateCountry 20s ease infinite;
}

#playerCard-overlay.hidden #playerFlag  {
    animation: none;
}

/* Player Data */
#playerCard-overlay #playerData > * {
    transform: translate(0, 0);
    transition:
            opacity var(--show),
            transform var(--show);
}

#playerCard-overlay.hidden #playerData > * {
    transform: translate(var(--transitionSide), 0);
    opacity: 0;
    transition:
            opacity var(--show),
            transform var(--show);
}

#playerCard-overlay #playerData > *:nth-child(3) {
    transition-delay: 300ms;
}

#playerCard-overlay #playerData > *:nth-child(2) {
    transition-delay: 200ms;
}

#playerCard-overlay #playerData > *:nth-child(1) {
    transition-delay: 100ms;
}

/*  ==============================
    == COUNTRY ROTATE LEFT MODE ==
    ==============================
*/
@keyframes rotateCountry {
    0% {
        width: 90px;
        height: 90px;
        margin: var(--marginBase);

        transform: rotate(var(--rotateDegre));
    }

    5% {
        width: 30px;
        height: 30px;
        margin: var(--marginModify);

        transform: rotate(0deg);
    }

    30% {
        width: 30px;
        height: 30px;
        margin: var(--marginModify);

        transform: rotate(0deg);
    }

    35% {
        width: 90px;
        height: 90px;
        margin: var(--marginBase);

        transform: rotate(var(--rotateDegre));
    }

    100% {
        width: 90px;
        height: 90px;
        margin: var(--marginBase);

        transform: rotate(var(--rotateDegre));
    }
}

/* ===========================
   = ANIMATION AND STATE End =
   =========================== */