/* ===================
   = SONG TAGS start =
   =================== */
#songCard-overlay {
    max-width: 650px;
    height: 160px;
    margin: 2% 2%;

    position: absolute;
    display: flex;
    justify-content: space-between;

    font-family: "Montserrat", Arial, serif;
    color: white;
}

#songCard-overlay.top-left,
#songCard-overlay.bottom-left {
    flex-direction: row;
    text-align: left;
}

#songCard-overlay.top-right,
#songCard-overlay.bottom-right {
    flex-direction: row-reverse;
    text-align: right;
}

#songCardGroup {
    display: flex;
}
#songCard-overlay.top-left #songCardGroup,
#songCard-overlay.bottom-left #songCardGroup {
    flex-direction: row;
}
#songCard-overlay.top-right #songCardGroup,
#songCard-overlay.bottom-right #songCardGroup {
    flex-direction: row-reverse;
}
#songCard-overlay.top-left #songCardGroup {
    transform-origin: top left;
}
#songCard-overlay.top-right #songCardGroup {
    transform-origin: top right;
}
#songCard-overlay.bottom-left #songCardGroup {
    transform-origin: bottom left;
}
#songCard-overlay.bottom-right #songCardGroup {
    transform-origin: bottom right;
}

/* ==========================
   = SONG TAGS/ Cover start =
   ========================== */
#cover {
    width: 140px;
    height: 140px;

    margin: 10px;

    border-radius: 5px;
    overflow: hidden;

    background-image: url("../../../pictures/default/defaultSong.jpg");
    background-repeat: no-repeat;
    background-size: contain;

    filter: drop-shadow(0 0 0.25rem black)
            drop-shadow(0 0 0.25rem black);

    z-index: 1;
}

#songAccuracyDiv {
    width: 70px;
    height: 70px;

    margin: 10px;

    position: absolute;

    background-color: azure;

    text-align: center;

    z-index: 2;
}

#songCard-overlay.top-left #songAccuracyDiv,
#songCard-overlay.bottom-left #songAccuracyDiv {
    clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
    border-top-left-radius: 5px;
}

#songCard-overlay.top-right #songAccuracyDiv,
#songCard-overlay.bottom-right #songAccuracyDiv {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
    border-top-right-radius: 5px;
}

#songAccuracyLetterDiv {
    width: 70px;
    height: 70px;

    position: absolute;

    text-align: center;

    z-index: 2;
}

#songCard-overlay.top-left #songAccuracyLetterDiv,
#songCard-overlay.bottom-left #songAccuracyLetterDiv {
    margin-top: -10px;
    margin-left: -10px;
}

#songCard-overlay.top-right #songAccuracyLetterDiv,
#songCard-overlay.bottom-right #songAccuracyLetterDiv {
    margin-top: -10px;
    margin-right: -10px;
}

#accuracyToLetters {
    width: 100%;
    height: 100%;

    margin: auto;

    display: inline-block;

    filter: drop-shadow(0 0 0.03rem black)
            drop-shadow(0 0 0.03rem black)
            drop-shadow(0 0 0.03rem black);
    font-size: 2.3em;
    text-align: center;

    color: rgb(44, 44, 44);

    z-index: 3;
}

#songCard-overlay.top-left #accuracyToLetters,
#songCard-overlay.bottom-left #accuracyToLetters {
    transform: rotate(-45deg);
}

#songCard-overlay.top-right #accuracyToLetters,
#songCard-overlay.bottom-right #accuracyToLetters {
    transform: rotate(45deg);
}

#accuracy {
    margin-top: 18px;

    display: inline-block;

    font-size: 1em;

    color: rgb(44, 44, 44);
}

#songCard-overlay.top-left #accuracy,
#songCard-overlay.bottom-left #accuracy {
    margin-left: -15px;
    transform: rotate(-45deg);
}

#songCard-overlay.top-right #accuracy,
#songCard-overlay.bottom-right #accuracy {
    margin-right: -15px;
    transform: rotate(45deg);
}

#songBarLength {
    width: 100%;
    height: 10px;

    margin-top: 130px;

    background-color: rgba(44, 44, 44, 0.70);

    overflow: hidden;
}

#timeToPercentage {
    width: 0;
    height: 100%;

    display: block;

    background-color: rgba(0, 199, 161, 0.73);
}

#logoLeaderboardSong {
    background-image: url("../../../pictures/scoresaber_icon_32x32.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.logoLeaderboardSong {
    width: 20px;
    height: 20px;
    top: 3px;

    position: absolute;
}
#songCard-overlay.top-left .logoLeaderboardSong,
#songCard-overlay.bottom-left .logoLeaderboardSong {
    margin-left: 117px;
}
#songCard-overlay.top-right .logoLeaderboardSong,
#songCard-overlay.bottom-right .logoLeaderboardSong {
    margin-left: 3px;
}
/* ========================
   = SONG TAGS/ Cover end =
   ======================== */

/* =========================
   = SONG TAGS/ Info start =
   ========================= */
#songDataCover {
    height: 130px;
    margin-top: 20px;

    font-size: 25px;

    filter: drop-shadow(0 0 0.10rem black)
            drop-shadow(0 0 0.10rem black);

    overflow: hidden;
}

#songCard-overlay.top-left #songDataCover,
#songCard-overlay.bottom-left #songDataCover {
    margin-left: -10px;
}

#songCard-overlay.top-right #songDataCover,
#songCard-overlay.bottom-right #songDataCover {
    margin-right: -10px;
}

.descBar {
    margin-bottom: 5px;

    display: inline-block;

    font-size: 0.6em;
}

#songCard-overlay.top-left .descBar,
#songCard-overlay.bottom-left .descBar {
    padding: 3px 15px 2px 5px;

    float: left;
    clear: left;

    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

#songCard-overlay.top-right .descBar,
#songCard-overlay.bottom-right .descBar {
    padding: 3px 5px 2px 15px;

    float: right;
    clear: right;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

#qualified {
    background-color: #646464;
    display: none;
}

#ranked {
    background-color: #c4a335;
    display: none;
}

#bsrKey::before {
    content: "!bsr ";
}

#bpm::after {
    content: " bpm";
}

#songData {
    width: 350px;
    height: 50px;

    position: absolute;

    overflow: hidden;

    filter: drop-shadow(0 0 0.25rem black)
    drop-shadow(0 0 0.25rem black);
}

#songCard-overlay.top-left #songData,
#songCard-overlay.top-right #songData {
    margin-top: -15px;
}

#songCard-overlay.bottom-left #songData,
#songCard-overlay.bottom-right #songData {
    margin-top: 155px;
}

#songDataInfo {
    animation: slide 20s infinite linear;
}

#songDataInfo p {
    width: 350px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#mapper::before {
    content: " - [";
}

#mapper::after {
    content: "]";
}
/* =======================
   = SONG TAGS/ Info end =
   ======================= */

/* =============================
   = ANIMATION AND STATE Start =
   ============================= */
/* Song Card Variables */
#songCard-overlay {
    --show: 500ms;
    --hide: 500ms;
    --reduced-1: 350ms;
    --reduced-2: 250ms;
}

#songCard-overlay.top-right, #songCard-overlay.bottom-right {
    --transitionSide: 300px;
}

#songCard-overlay.top-left, #songCard-overlay.bottom-left {
    --transitionSide: -300px;
}

#songCard-overlay #songCardGroup {
    transition:
            transform var(--reduced-1);
}

#songCard-overlay.reduced #songCardGroup {
    transform: scale(0.5);
    transition:
            transform var(--reduced-2);
}

/* Cover */
#songCard-overlay #cover,
#songCard-overlay #songAccuracyDiv,
#songCard-overlay #songAccuracyLetterDiv,
#songCard-overlay #songData {
    transition:
            opacity var(--show);
}

#songCard-overlay.hidden #cover,
#songCard-overlay.hidden #songAccuracyDiv,
#songCard-overlay.hidden #songAccuracyLetterDiv,
#songCard-overlay.hidden #songData {
    transition-delay: 500ms !important;
    opacity: 0;
    transition:
            opacity var(--hide);
}

/* song Data */
#songCard-overlay #songDataCover > * {
    transform: translate(0, 0);
    transition:
            opacity var(--show),
            transform var(--show);
}

#songCard-overlay.hidden #songDataCover > * {
    opacity: 0;
    transform: translate(var(--transitionSide), 0);
    transition:
            opacity var(--hide),
            transform var(--hide);
}

#songCard-overlay #songDataCover > *:nth-child(5) {
    transition-delay: 300ms !important;
}

#songCard-overlay #songDataCover > *:nth-child(4) {
    transition-delay: 300ms !important;
}

#songCard-overlay #songDataCover > *:nth-child(3) {
    transition-delay: 400ms !important;
}

#songCard-overlay #songDataCover > *:nth-child(2) {
    transition-delay: 450ms !important;
}

#songCard-overlay #songDataCover > *:nth-child(1) {
    transition-delay: 500ms !important;
}

@keyframes slide {
    0%{
        margin-left: 350px;
    }
    70%{
        margin-left: -350px;
    }
    100%{
        margin-left: -350px;
    }
}